.core-input-field {
  display: flex;
  flex-direction: column;
  gap: var(--size-gap);
  width: 100%;
}

.core-input {
  height: var(--size-container);
}

.core-input-error {
  font-size: var(--size-text);
  color: var(--db-critical, var(--db-warning));
}
