.core-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-padding);
}

.core-section-title {
  font-size: var(--size-text);
  font-weight: 900;
  color: var(--db-text);
  margin: 0;
}
