:root {

  /* db-neutral */
  --theme-neutral-0: light-dark(#0d0e10, #f9f9fa);
  --theme-neutral-1: light-dark(#16181b, #f3f3f5);
  --theme-neutral-2: light-dark(#222428, #edeef0);
  --theme-neutral-3: light-dark(#2e3036, #e1e2e5);
  --theme-neutral-4: light-dark(#3b3e44, #c4c6cc);
  --theme-neutral-5: light-dark(#484b53, #a6abb6);
  --theme-neutral-6: light-dark(#5a5e67, #8a919e);
  --theme-neutral-7: light-dark(#727782, #727782);
  --theme-neutral-8: light-dark(#8a919e, #5a5e67);
  --theme-neutral-9: light-dark(#a6abb6, #484b53);
  --theme-neutral-10: light-dark(#c4c6cc, #3b3e44);
  --theme-neutral-11: light-dark(#e1e2e5, #2e3036);
  --theme-neutral-12: light-dark(#edeef0, #222428);
  --theme-neutral-13: light-dark(#f3f3f5, #16181b);
  --theme-neutral-14: light-dark(#f9f9fa, #0d0e10);
  --theme-neutral-origin-default: light-dark(#646973, #646973);
  --theme-neutral-origin-hovered: light-dark(#2e3036, #e1e2e5);
  --theme-neutral-origin-pressed: light-dark(#727782, #727782);
  --theme-neutral-on-origin-default: light-dark(#ffffff, #ffffff);
  --theme-neutral-transparent-full-default: light-dark(rgba(90,94,103,0), rgba(138,145,158,0));
  --theme-neutral-transparent-full-hovered: light-dark(rgba(90,94,103,0.24), rgba(138,145,158,0.24));
  --theme-neutral-transparent-full-pressed: light-dark(rgba(90,94,103,0.32), rgba(138,145,158,0.32));
  --theme-neutral-transparent-semi-default: light-dark(rgba(90,94,103,0.08), rgba(138,145,158,0.16));
  --theme-neutral-transparent-semi-hovered: light-dark(rgba(90,94,103,0.24), rgba(138,145,158,0.24));
  --theme-neutral-transparent-semi-pressed: light-dark(rgba(90,94,103,0.32), rgba(138,145,158,0.32));

  /* db-brand */
  --theme-brand-0: light-dark(#270001, #fff8f8);
  --theme-brand-1: light-dark(#390002, #fff0f1);
  --theme-brand-2: light-dark(#500004, #fee9e9);
  --theme-brand-3: light-dark(#680007, #fddadb);
  --theme-brand-4: light-dark(#82000b, #fbb4b6);
  --theme-brand-5: light-dark(#9c0010, #ff888b);
  --theme-brand-6: light-dark(#c00016, #ff5359);
  --theme-brand-7: light-dark(#ef001f, #ef001f);
  --theme-brand-8: light-dark(#ff5359, #c00016);
  --theme-brand-9: light-dark(#ff888b, #9c0010);
  --theme-brand-10: light-dark(#fbb4b6, #82000b);
  --theme-brand-11: light-dark(#fddadb, #680007);
  --theme-brand-12: light-dark(#fee9e9, #500004);
  --theme-brand-13: light-dark(#fff0f1, #390002);
  --theme-brand-14: light-dark(#fff8f8, #270001);
  --theme-brand-origin-default: light-dark(#EC0016, #EC0016);
  --theme-brand-origin-hovered: light-dark(#680007, #fddadb);
  --theme-brand-origin-pressed: light-dark(#ef001f, #ef001f);
  --theme-brand-on-origin-default: light-dark(#ffffff, #ffffff);
  --theme-brand-transparent-full-default: light-dark(rgba(192,0,22,0), rgba(255,83,89,0));
  --theme-brand-transparent-full-hovered: light-dark(rgba(192,0,22,0.24), rgba(255,83,89,0.24));
  --theme-brand-transparent-full-pressed: light-dark(rgba(192,0,22,0.32), rgba(255,83,89,0.32));
  --theme-brand-transparent-semi-default: light-dark(rgba(192,0,22,0.08), rgba(255,83,89,0.16));
  --theme-brand-transparent-semi-hovered: light-dark(rgba(192,0,22,0.24), rgba(255,83,89,0.24));
  --theme-brand-transparent-semi-pressed: light-dark(rgba(192,0,22,0.32), rgba(255,83,89,0.32));

  /* db-action */
  --theme-action-0: light-dark(#270001, #fff8f8);
  --theme-action-1: light-dark(#390002, #fff0f1);
  --theme-action-2: light-dark(#500004, #fee9e9);
  --theme-action-3: light-dark(#680007, #fddadb);
  --theme-action-4: light-dark(#82000b, #fbb4b6);
  --theme-action-5: light-dark(#9c0010, #ff888b);
  --theme-action-6: light-dark(#c00016, #ff5359);
  --theme-action-7: light-dark(#ef001f, #ef001f);
  --theme-action-8: light-dark(#ff5359, #c00016);
  --theme-action-9: light-dark(#ff888b, #9c0010);
  --theme-action-10: light-dark(#fbb4b6, #82000b);
  --theme-action-11: light-dark(#fddadb, #680007);
  --theme-action-12: light-dark(#fee9e9, #500004);
  --theme-action-13: light-dark(#fff0f1, #390002);
  --theme-action-14: light-dark(#fff8f8, #270001);
  --theme-action-origin-default: light-dark(#EC0016, #EC0016);
  --theme-action-origin-hovered: light-dark(#680007, #fddadb);
  --theme-action-origin-pressed: light-dark(#ef001f, #ef001f);
  --theme-action-on-origin-default: light-dark(#ffffff, #ffffff);
  --theme-action-transparent-full-default: light-dark(rgba(192,0,22,0), rgba(255,83,89,0));
  --theme-action-transparent-full-hovered: light-dark(rgba(192,0,22,0.24), rgba(255,83,89,0.24));
  --theme-action-transparent-full-pressed: light-dark(rgba(192,0,22,0.32), rgba(255,83,89,0.32));
  --theme-action-transparent-semi-default: light-dark(rgba(192,0,22,0.08), rgba(255,83,89,0.16));
  --theme-action-transparent-semi-hovered: light-dark(rgba(192,0,22,0.24), rgba(255,83,89,0.24));
  --theme-action-transparent-semi-pressed: light-dark(rgba(192,0,22,0.32), rgba(255,83,89,0.32));

  /* db-blue */
  --theme-blue-0: light-dark(#000e26, #f7f9ff);
  --theme-blue-1: light-dark(#001737, #f0f3fe);
  --theme-blue-2: light-dark(#00234d, #e9eefe);
  --theme-blue-3: light-dark(#002f65, #dae2fc);
  --theme-blue-4: light-dark(#003c7d, #b4c6f8);
  --theme-blue-5: light-dark(#004a96, #84aaff);
  --theme-blue-6: light-dark(#005db9, #488fff);
  --theme-blue-7: light-dark(#0075e7, #0075e7);
  --theme-blue-8: light-dark(#488fff, #005db9);
  --theme-blue-9: light-dark(#84aaff, #004a96);
  --theme-blue-10: light-dark(#b4c6f8, #003c7d);
  --theme-blue-11: light-dark(#dae2fc, #002f65);
  --theme-blue-12: light-dark(#e9eefe, #00234d);
  --theme-blue-13: light-dark(#f0f3fe, #001737);
  --theme-blue-14: light-dark(#f7f9ff, #000e26);
  --theme-blue-origin-default: light-dark(#0080FF, #0080FF);
  --theme-blue-origin-hovered: light-dark(#002f65, #dae2fc);
  --theme-blue-origin-pressed: light-dark(#0075e7, #0075e7);
  --theme-blue-on-origin-default: light-dark(#000000, #000000);
  --theme-blue-transparent-full-default: light-dark(rgba(0,93,185,0), rgba(72,143,255,0));
  --theme-blue-transparent-full-hovered: light-dark(rgba(0,93,185,0.24), rgba(72,143,255,0.24));
  --theme-blue-transparent-full-pressed: light-dark(rgba(0,93,185,0.32), rgba(72,143,255,0.32));
  --theme-blue-transparent-semi-default: light-dark(rgba(0,93,185,0.08), rgba(72,143,255,0.16));
  --theme-blue-transparent-semi-hovered: light-dark(rgba(0,93,185,0.24), rgba(72,143,255,0.24));
  --theme-blue-transparent-semi-pressed: light-dark(rgba(0,93,185,0.32), rgba(72,143,255,0.32));

  /* db-burgundy */
  --theme-burgundy-0: light-dark(#1e060c, #fff8f9);
  --theme-burgundy-1: light-dark(#2d0d14, #fef0f2);
  --theme-burgundy-2: light-dark(#40151f, #fde9ec);
  --theme-burgundy-3: light-dark(#541e2b, #fbdbe0);
  --theme-burgundy-4: light-dark(#692837, #f4b7c1);
  --theme-burgundy-5: light-dark(#7e3143, #df98a4);
  --theme-burgundy-6: light-dark(#9c3f55, #d87186);
  --theme-burgundy-7: light-dark(#c3506b, #c3506b);
  --theme-burgundy-8: light-dark(#d87186, #9c3f55);
  --theme-burgundy-9: light-dark(#df98a4, #7e3143);
  --theme-burgundy-10: light-dark(#f4b7c1, #692837);
  --theme-burgundy-11: light-dark(#fbdbe0, #541e2b);
  --theme-burgundy-12: light-dark(#fde9ec, #40151f);
  --theme-burgundy-13: light-dark(#fef0f2, #2d0d14);
  --theme-burgundy-14: light-dark(#fff8f9, #1e060c);
  --theme-burgundy-origin-default: light-dark(#A9455D, #A9455D);
  --theme-burgundy-origin-hovered: light-dark(#541e2b, #fbdbe0);
  --theme-burgundy-origin-pressed: light-dark(#c3506b, #c3506b);
  --theme-burgundy-on-origin-default: light-dark(#ffffff, #ffffff);
  --theme-burgundy-transparent-full-default: light-dark(rgba(156,63,85,0), rgba(216,113,134,0));
  --theme-burgundy-transparent-full-hovered: light-dark(rgba(156,63,85,0.24), rgba(216,113,134,0.24));
  --theme-burgundy-transparent-full-pressed: light-dark(rgba(156,63,85,0.32), rgba(216,113,134,0.32));
  --theme-burgundy-transparent-semi-default: light-dark(rgba(156,63,85,0.08), rgba(216,113,134,0.16));
  --theme-burgundy-transparent-semi-hovered: light-dark(rgba(156,63,85,0.24), rgba(216,113,134,0.24));
  --theme-burgundy-transparent-semi-pressed: light-dark(rgba(156,63,85,0.32), rgba(216,113,134,0.32));

  /* db-cyan */
  --theme-cyan-0: light-dark(#011019, #f5fafe);
  --theme-cyan-1: light-dark(#031a26, #ecf5fd);
  --theme-cyan-2: light-dark(#052736, #e3f0fb);
  --theme-cyan-3: light-dark(#093448, #d1e5f6);
  --theme-cyan-4: light-dark(#0e425a, #9dccee);
  --theme-cyan-5: light-dark(#13516d, #37b6f0);
  --theme-cyan-6: light-dark(#1a6587, #2d9acc);
  --theme-cyan-7: light-dark(#237fa9, #237fa9);
  --theme-cyan-8: light-dark(#2d9acc, #1a6587);
  --theme-cyan-9: light-dark(#37b6f0, #13516d);
  --theme-cyan-10: light-dark(#9dccee, #0e425a);
  --theme-cyan-11: light-dark(#d1e5f6, #093448);
  --theme-cyan-12: light-dark(#e3f0fb, #052736);
  --theme-cyan-13: light-dark(#ecf5fd, #031a26);
  --theme-cyan-14: light-dark(#f5fafe, #011019);
  --theme-cyan-origin-default: light-dark(#309FD1, #309FD1);
  --theme-cyan-origin-hovered: light-dark(#093448, #d1e5f6);
  --theme-cyan-origin-pressed: light-dark(#237fa9, #237fa9);
  --theme-cyan-on-origin-default: light-dark(#000000, #000000);
  --theme-cyan-transparent-full-default: light-dark(rgba(26,101,135,0), rgba(45,154,204,0));
  --theme-cyan-transparent-full-hovered: light-dark(rgba(26,101,135,0.24), rgba(45,154,204,0.24));
  --theme-cyan-transparent-full-pressed: light-dark(rgba(26,101,135,0.32), rgba(45,154,204,0.32));
  --theme-cyan-transparent-semi-default: light-dark(rgba(26,101,135,0.08), rgba(45,154,204,0.16));
  --theme-cyan-transparent-semi-hovered: light-dark(rgba(26,101,135,0.24), rgba(45,154,204,0.24));
  --theme-cyan-transparent-semi-pressed: light-dark(rgba(26,101,135,0.32), rgba(45,154,204,0.32));

  /* db-green */
  --theme-green-0: light-dark(#021203, #ecfeee);
  --theme-green-1: light-dark(#041c07, #dffbe1);
  --theme-green-2: light-dark(#072a0d, #d5f6d8);
  --theme-green-3: light-dark(#0d3814, #b9f0be);
  --theme-green-4: light-dark(#12471b, #77dc84);
  --theme-green-5: light-dark(#185723, #41c357);
  --theme-green-6: light-dark(#206c2d, #36a549);
  --theme-green-7: light-dark(#2b883b, #2b883b);
  --theme-green-8: light-dark(#36a549, #206c2d);
  --theme-green-9: light-dark(#41c357, #185723);
  --theme-green-10: light-dark(#77dc84, #12471b);
  --theme-green-11: light-dark(#b9f0be, #0d3814);
  --theme-green-12: light-dark(#d5f6d8, #072a0d);
  --theme-green-13: light-dark(#dffbe1, #041c07);
  --theme-green-14: light-dark(#ecfeee, #021203);
  --theme-green-origin-default: light-dark(#40BF55, #40BF55);
  --theme-green-origin-hovered: light-dark(#0d3814, #b9f0be);
  --theme-green-origin-pressed: light-dark(#2b883b, #2b883b);
  --theme-green-on-origin-default: light-dark(#000000, #000000);
  --theme-green-transparent-full-default: light-dark(rgba(32,108,45,0), rgba(54,165,73,0));
  --theme-green-transparent-full-hovered: light-dark(rgba(32,108,45,0.24), rgba(54,165,73,0.24));
  --theme-green-transparent-full-pressed: light-dark(rgba(32,108,45,0.32), rgba(54,165,73,0.32));
  --theme-green-transparent-semi-default: light-dark(rgba(32,108,45,0.08), rgba(54,165,73,0.16));
  --theme-green-transparent-semi-hovered: light-dark(rgba(32,108,45,0.24), rgba(54,165,73,0.24));
  --theme-green-transparent-semi-pressed: light-dark(rgba(32,108,45,0.32), rgba(54,165,73,0.32));

  /* db-light-green */
  --theme-light-green-0: light-dark(#061100, #f0fee8);
  --theme-light-green-1: light-dark(#0c1b01, #e5fada);
  --theme-light-green-2: light-dark(#152901, #ddf5d0);
  --theme-light-green-3: light-dark(#1e3702, #c0f0a2);
  --theme-light-green-4: light-dark(#274504, #98d867);
  --theme-light-green-5: light-dark(#315506, #74be1a);
  --theme-light-green-6: light-dark(#3e6909, #61a114);
  --theme-light-green-7: light-dark(#4f850f, #4f850f);
  --theme-light-green-8: light-dark(#61a114, #3e6909);
  --theme-light-green-9: light-dark(#74be1a, #315506);
  --theme-light-green-10: light-dark(#98d867, #274504);
  --theme-light-green-11: light-dark(#c0f0a2, #1e3702);
  --theme-light-green-12: light-dark(#ddf5d0, #152901);
  --theme-light-green-13: light-dark(#e5fada, #0c1b01);
  --theme-light-green-14: light-dark(#f0fee8, #061100);
  --theme-light-green-origin-default: light-dark(#63A615, #63A615);
  --theme-light-green-origin-hovered: light-dark(#1e3702, #c0f0a2);
  --theme-light-green-origin-pressed: light-dark(#4f850f, #4f850f);
  --theme-light-green-on-origin-default: light-dark(#000000, #000000);
  --theme-light-green-transparent-full-default: light-dark(rgba(62,105,9,0), rgba(97,161,20,0));
  --theme-light-green-transparent-full-hovered: light-dark(rgba(62,105,9,0.24), rgba(97,161,20,0.24));
  --theme-light-green-transparent-full-pressed: light-dark(rgba(62,105,9,0.32), rgba(97,161,20,0.32));
  --theme-light-green-transparent-semi-default: light-dark(rgba(62,105,9,0.08), rgba(97,161,20,0.16));
  --theme-light-green-transparent-semi-hovered: light-dark(rgba(62,105,9,0.24), rgba(97,161,20,0.24));
  --theme-light-green-transparent-semi-pressed: light-dark(rgba(62,105,9,0.32), rgba(97,161,20,0.32));

  /* db-orange */
  --theme-orange-0: light-dark(#1c0900, #fff8f6);
  --theme-orange-1: light-dark(#2b1000, #fef1ed);
  --theme-orange-2: light-dark(#3d1a00, #fdeae4);
  --theme-orange-3: light-dark(#502400, #fbdcd2);
  --theme-orange-4: light-dark(#642f00, #f7b8a0);
  --theme-orange-5: light-dark(#783a00, #ff8d41);
  --theme-orange-6: light-dark(#954a00, #e17200);
  --theme-orange-7: light-dark(#ba5e00, #ba5e00);
  --theme-orange-8: light-dark(#e17200, #954a00);
  --theme-orange-9: light-dark(#ff8d41, #783a00);
  --theme-orange-10: light-dark(#f7b8a0, #642f00);
  --theme-orange-11: light-dark(#fbdcd2, #502400);
  --theme-orange-12: light-dark(#fdeae4, #3d1a00);
  --theme-orange-13: light-dark(#fef1ed, #2b1000);
  --theme-orange-14: light-dark(#fff8f6, #1c0900);
  --theme-orange-origin-default: light-dark(#FF8833, #FF8833);
  --theme-orange-origin-hovered: light-dark(#502400, #fbdcd2);
  --theme-orange-origin-pressed: light-dark(#ba5e00, #ba5e00);
  --theme-orange-on-origin-default: light-dark(#000000, #000000);
  --theme-orange-transparent-full-default: light-dark(rgba(149,74,0,0), rgba(225,114,0,0));
  --theme-orange-transparent-full-hovered: light-dark(rgba(149,74,0,0.24), rgba(225,114,0,0.24));
  --theme-orange-transparent-full-pressed: light-dark(rgba(149,74,0,0.32), rgba(225,114,0,0.32));
  --theme-orange-transparent-semi-default: light-dark(rgba(149,74,0,0.08), rgba(225,114,0,0.16));
  --theme-orange-transparent-semi-hovered: light-dark(rgba(149,74,0,0.24), rgba(225,114,0,0.24));
  --theme-orange-transparent-semi-pressed: light-dark(rgba(149,74,0,0.32), rgba(225,114,0,0.32));

  /* db-pink */
  --theme-pink-0: light-dark(#260010, #fff7fa);
  --theme-pink-1: light-dark(#37001b, #fef0f4);
  --theme-pink-2: light-dark(#4d0028, #fee8ef);
  --theme-pink-3: light-dark(#640035, #fddae4);
  --theme-pink-4: light-dark(#7d0044, #fab3ca);
  --theme-pink-5: light-dark(#960052, #ff83b2);
  --theme-pink-6: light-dark(#b90067, #ff479b);
  --theme-pink-7: light-dark(#e60082, #e60082);
  --theme-pink-8: light-dark(#ff479b, #b90067);
  --theme-pink-9: light-dark(#ff83b2, #960052);
  --theme-pink-10: light-dark(#fab3ca, #7d0044);
  --theme-pink-11: light-dark(#fddae4, #640035);
  --theme-pink-12: light-dark(#fee8ef, #4d0028);
  --theme-pink-13: light-dark(#fef0f4, #37001b);
  --theme-pink-14: light-dark(#fff7fa, #260010);
  --theme-pink-origin-default: light-dark(#FFB0CA, #FFB0CA);
  --theme-pink-origin-hovered: light-dark(#640035, #fddae4);
  --theme-pink-origin-pressed: light-dark(#e60082, #e60082);
  --theme-pink-on-origin-default: light-dark(#000000, #000000);
  --theme-pink-transparent-full-default: light-dark(rgba(185,0,103,0), rgba(255,71,155,0));
  --theme-pink-transparent-full-hovered: light-dark(rgba(185,0,103,0.24), rgba(255,71,155,0.24));
  --theme-pink-transparent-full-pressed: light-dark(rgba(185,0,103,0.32), rgba(255,71,155,0.32));
  --theme-pink-transparent-semi-default: light-dark(rgba(185,0,103,0.08), rgba(255,71,155,0.16));
  --theme-pink-transparent-semi-hovered: light-dark(rgba(185,0,103,0.24), rgba(255,71,155,0.24));
  --theme-pink-transparent-semi-pressed: light-dark(rgba(185,0,103,0.32), rgba(255,71,155,0.32));

  /* db-red */
  --theme-red-0: light-dark(#280000, #fff8f8);
  --theme-red-1: light-dark(#3a0000, #fff0f0);
  --theme-red-2: light-dark(#510001, #fee9e9);
  --theme-red-3: light-dark(#690001, #fddada);
  --theme-red-4: light-dark(#820002, #fbb4b5);
  --theme-red-5: light-dark(#9c0003, #ff8889);
  --theme-red-6: light-dark(#c00004, #ff5354);
  --theme-red-7: light-dark(#ef0007, #ef0007);
  --theme-red-8: light-dark(#ff5354, #c00004);
  --theme-red-9: light-dark(#ff8889, #9c0003);
  --theme-red-10: light-dark(#fbb4b5, #820002);
  --theme-red-11: light-dark(#fddada, #690001);
  --theme-red-12: light-dark(#fee9e9, #510001);
  --theme-red-13: light-dark(#fff0f0, #3a0000);
  --theme-red-14: light-dark(#fff8f8, #280000);
  --theme-red-origin-default: light-dark(#FF3333, #FF3333);
  --theme-red-origin-hovered: light-dark(#690001, #fddada);
  --theme-red-origin-pressed: light-dark(#ef0007, #ef0007);
  --theme-red-on-origin-default: light-dark(#000000, #000000);
  --theme-red-transparent-full-default: light-dark(rgba(192,0,4,0), rgba(255,83,84,0));
  --theme-red-transparent-full-hovered: light-dark(rgba(192,0,4,0.24), rgba(255,83,84,0.24));
  --theme-red-transparent-full-pressed: light-dark(rgba(192,0,4,0.32), rgba(255,83,84,0.32));
  --theme-red-transparent-semi-default: light-dark(rgba(192,0,4,0.08), rgba(255,83,84,0.16));
  --theme-red-transparent-semi-hovered: light-dark(rgba(192,0,4,0.24), rgba(255,83,84,0.24));
  --theme-red-transparent-semi-pressed: light-dark(rgba(192,0,4,0.32), rgba(255,83,84,0.32));

  /* db-turquoise */
  --theme-turquoise-0: light-dark(#001110, #e9fdfc);
  --theme-turquoise-1: light-dark(#001c1a, #ddf9f7);
  --theme-turquoise-2: light-dark(#002927, #d2f5f2);
  --theme-turquoise-3: light-dark(#003734, #a6f0ea);
  --theme-turquoise-4: light-dark(#004642, #6ad8d1);
  --theme-turquoise-5: light-dark(#005551, #00bfb7);
  --theme-turquoise-6: light-dark(#006a65, #00a29b);
  --theme-turquoise-7: light-dark(#00857f, #00857f);
  --theme-turquoise-8: light-dark(#00a29b, #006a65);
  --theme-turquoise-9: light-dark(#00bfb7, #005551);
  --theme-turquoise-10: light-dark(#6ad8d1, #004642);
  --theme-turquoise-11: light-dark(#a6f0ea, #003734);
  --theme-turquoise-12: light-dark(#d2f5f2, #002927);
  --theme-turquoise-13: light-dark(#ddf9f7, #001c1a);
  --theme-turquoise-14: light-dark(#e9fdfc, #001110);
  --theme-turquoise-origin-default: light-dark(#00A099, #00A099);
  --theme-turquoise-origin-hovered: light-dark(#003734, #a6f0ea);
  --theme-turquoise-origin-pressed: light-dark(#00857f, #00857f);
  --theme-turquoise-on-origin-default: light-dark(#000000, #000000);
  --theme-turquoise-transparent-full-default: light-dark(rgba(0,106,101,0), rgba(0,162,155,0));
  --theme-turquoise-transparent-full-hovered: light-dark(rgba(0,106,101,0.24), rgba(0,162,155,0.24));
  --theme-turquoise-transparent-full-pressed: light-dark(rgba(0,106,101,0.32), rgba(0,162,155,0.32));
  --theme-turquoise-transparent-semi-default: light-dark(rgba(0,106,101,0.08), rgba(0,162,155,0.16));
  --theme-turquoise-transparent-semi-hovered: light-dark(rgba(0,106,101,0.24), rgba(0,162,155,0.24));
  --theme-turquoise-transparent-semi-pressed: light-dark(rgba(0,106,101,0.32), rgba(0,162,155,0.32));

  /* db-violet */
  --theme-violet-0: light-dark(#13003a, #f9f9ff);
  --theme-violet-1: light-dark(#1d0053, #f4f2fe);
  --theme-violet-2: light-dark(#2b0072, #efecfe);
  --theme-violet-3: light-dark(#3a0092, #e4dffc);
  --theme-violet-4: light-dark(#4900b4, #c9bff9);
  --theme-violet-5: light-dark(#5900d8, #b09dff);
  --theme-violet-6: light-dark(#6e1aff, #987bff);
  --theme-violet-7: light-dark(#8255ff, #8255ff);
  --theme-violet-8: light-dark(#987bff, #6e1aff);
  --theme-violet-9: light-dark(#b09dff, #5900d8);
  --theme-violet-10: light-dark(#c9bff9, #4900b4);
  --theme-violet-11: light-dark(#e4dffc, #3a0092);
  --theme-violet-12: light-dark(#efecfe, #2b0072);
  --theme-violet-13: light-dark(#f4f2fe, #1d0053);
  --theme-violet-14: light-dark(#f9f9ff, #13003a);
  --theme-violet-origin-default: light-dark(#7733FF, #7733FF);
  --theme-violet-origin-hovered: light-dark(#3a0092, #e4dffc);
  --theme-violet-origin-pressed: light-dark(#8255ff, #8255ff);
  --theme-violet-on-origin-default: light-dark(#ffffff, #ffffff);
  --theme-violet-transparent-full-default: light-dark(rgba(110,26,255,0), rgba(152,123,255,0));
  --theme-violet-transparent-full-hovered: light-dark(rgba(110,26,255,0.24), rgba(152,123,255,0.24));
  --theme-violet-transparent-full-pressed: light-dark(rgba(110,26,255,0.32), rgba(152,123,255,0.32));
  --theme-violet-transparent-semi-default: light-dark(rgba(110,26,255,0.08), rgba(152,123,255,0.16));
  --theme-violet-transparent-semi-hovered: light-dark(rgba(110,26,255,0.24), rgba(152,123,255,0.24));
  --theme-violet-transparent-semi-pressed: light-dark(rgba(110,26,255,0.32), rgba(152,123,255,0.32));

  /* db-yellow */
  --theme-yellow-0: light-dark(#140d00, #fef9f0);
  --theme-yellow-1: light-dark(#1f1600, #fdf2e2);
  --theme-yellow-2: light-dark(#2e2200, #faecd6);
  --theme-yellow-3: light-dark(#3d2f00, #f3e0c0);
  --theme-yellow-4: light-dark(#4d3b00, #e9c263);
  --theme-yellow-5: light-dark(#5e4900, #d1a600);
  --theme-yellow-6: light-dark(#745b00, #b18c00);
  --theme-yellow-7: light-dark(#927300, #927300);
  --theme-yellow-8: light-dark(#b18c00, #745b00);
  --theme-yellow-9: light-dark(#d1a600, #5e4900);
  --theme-yellow-10: light-dark(#e9c263, #4d3b00);
  --theme-yellow-11: light-dark(#f3e0c0, #3d2f00);
  --theme-yellow-12: light-dark(#faecd6, #2e2200);
  --theme-yellow-13: light-dark(#fdf2e2, #1f1600);
  --theme-yellow-14: light-dark(#fef9f0, #140d00);
  --theme-yellow-origin-default: light-dark(#FFCC33, #FFCC33);
  --theme-yellow-origin-hovered: light-dark(#3d2f00, #f3e0c0);
  --theme-yellow-origin-pressed: light-dark(#927300, #927300);
  --theme-yellow-on-origin-default: light-dark(#000000, #000000);
  --theme-yellow-transparent-full-default: light-dark(rgba(116,91,0,0), rgba(177,140,0,0));
  --theme-yellow-transparent-full-hovered: light-dark(rgba(116,91,0,0.24), rgba(177,140,0,0.24));
  --theme-yellow-transparent-full-pressed: light-dark(rgba(116,91,0,0.32), rgba(177,140,0,0.32));
  --theme-yellow-transparent-semi-default: light-dark(rgba(116,91,0,0.08), rgba(177,140,0,0.16));
  --theme-yellow-transparent-semi-hovered: light-dark(rgba(116,91,0,0.24), rgba(177,140,0,0.24));
  --theme-yellow-transparent-semi-pressed: light-dark(rgba(116,91,0,0.32), rgba(177,140,0,0.32));
}
