.dashboard {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex: 1;
  gap: var(--spacing-padding);
  padding: var(--spacing-padding);
  border: none;
  box-sizing: border-box;
  justify-content: space-between;
}

.dashboard-value-display {
  text-align: center;
  padding: var(--spacing-padding) 0;
}

.dashboard-current-date {
  font-size: var(--size-text);
  color: var(--db-text);
}

.dashboard-meta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-gap);
}

.dashboard-current-value {
  font-size: var(--size-96);
  line-height: 1.5;
  font-weight: 900;
}

.dashboard-percent-change {
  background: none;
  border: none;
  color: var(--db-visual);
  min-height: 0;
  font-weight: 900;
}

.dashboard-unit {
  font-size: var(--size-text);
  font-weight: normal;
}

.dashboard-tabs {
  display: flex;
  padding: var(--size-padding-min);
  gap: var(--size-4);
}

.dashboard-tab {
  flex: 1;
  text-align: center;
}

.dashboard-circumference-selector {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--size-gap);
}

.dashboard-time-range {
  display: flex;
  gap: var(--size-gap);
  justify-content: center;
  flex-wrap: wrap;
}

.dashboard-badge-button {
  padding: 0;
}

.dashboard-badge-icon {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  min-height: 0;
  padding: 0;
  background: none;
  object-fit: contain;
}
