.goals-view {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-padding);
  padding: var(--spacing-padding);
}

.goals-view-list {
  display: flex;
  flex-direction: column;
  gap: var(--size-gap);
}
