.goal-create {
  display: flex;
  flex-direction: column;
  border: none;
  gap: var(--spacing-padding);
  padding: var(--spacing-padding);
  flex: 1;
}

.goal-create-field {
  display: flex;
  flex-direction: column;
  gap: var(--size-gap);
}

.goal-create-field select {
  height: var(--size-container);
}

.goal-create-start-display {
  font-size: var(--size-text);
  color: var(--db-text);
}

.goal-create-error {
  font-size: var(--size-text);
  color: var(--db-critical);
}

.goal-create-success {
  font-size: var(--size-text);
  text-align: center;
}
