.weekly-input {
  display: flex;
  flex-direction: column;
  border: none;
  gap: var(--spacing-padding);
  padding: var(--spacing-padding);
}

.weekly-input-intro-text {
  font-size: var(--size-text);
  line-height: 1.5;
}

.weekly-input-start {
  height: var(--size-container);
  font-weight: bold;
}

.weekly-input-success {
  font-size: var(--size-text);
  text-align: center;
}
