.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 100;
  border-radius: 0;
  padding: var(--size-padding) var(--size-padding) calc(var(--size-padding) + env(safe-area-inset-bottom));
}

.bottom-nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.bottom-nav-link.active {
  color: var(--db-visual);
}

.bottom-nav-icon {
  width: var(--size-icon);
  height: var(--size-icon);
}

