.app {
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - var(--size-container) - 2 * var(--size-padding));
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--db-background);
  color: var(--db-text);
  font-size: var(--size-text);
  box-sizing: border-box;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-bottom: calc(var(--size-container) + 2 * var(--size-padding));
}

.swipe-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
