:root {
  font-family: system-ui, -apple-system, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

h1, h2, p {
  margin: 0;
  line-height: 1;
  font-weight: 900;
}

    .adaptive {
      min-height: var(--size-container);
      padding: var(--size-padding-min) var(--size-padding);
      border-radius: var(--size-border-radius);
      font-size: var(--size-text);
      background: var(--db-background);
      color: var(--db-text);
      border: var(--size-1) solid var(--db-border);
      line-height: var(--size-line-height);
      gap: var(--size-gap);
    }
