:root {
  font-family: system-ui, -apple-system, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  box-sizing: border-box;
  height: 100dvh;
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#root {
  max-width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

h1 {
  font-size: var(--size-32);
  line-height: 1;
}

h2 {  
  font-size: var(--size-16);
  line-height: 1;
}

h1, h2 {
  font-weight: 900;
}

h1, h2, p {
  margin: 0;
  overflow-wrap: break-word;
}

    .adaptive {
      min-height: var(--size-container);
      padding: var(--size-padding-min) var(--size-padding);
      border-radius: var(--size-border-radius);
      font-size: var(--size-text);
      background: var(--db-background);
      color: var(--db-text);
      border: var(--size-1) solid var(--db-border);
      line-height: var(--size-line-height);
      gap: var(--size-gap);
    }

@media (hover: none) {
  [data-interactive] {
    -webkit-tap-highlight-color: transparent;
  }
  [data-interactive]:hover,
  [data-interactive][data-interactive]:hover {
    --db-background: var(--material-bg-default);
  }
}

:focus-visible {
  outline: 2px solid #000;
  outline-offset: 2px;
  box-shadow: 0 0 0 calc(2px + 2px) #fff;
}

@media (prefers-color-scheme: dark) {
  :focus-visible {
    outline-color: #fff;
    box-shadow: 0 0 0 calc(2px + 2px) #000;
  }
}
